/* MAP CSS
  1.  General Rule             -> LINE 14
  2.  Navbar                   -> LINE 52
  3.  Header                   -> LINE 91
  4.  Home Page                -> LINE 121
  5.  Home Page Single Post    -> LINE 134
  6.  Content Viewer           -> LINE 180
  7.  Footer                   -> LINE 270
  8.  Search Bar               -> LINE 309
  9.  KeyFrame                 -> LINE 360 
  10. Media Screen             -> LINE 402
*/

  /*  ------ 1. General Rule ----- */
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Lato;
}
h1, h2, h3, h4{
  text-align: center;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bolder;
}
h1{
  font-size: 60px;
}
hr{
  text-align: center;
  width: 70%;
}
a{
  text-decoration: none;
  color: #3498DB;
}
a:hover{
  text-decoration: none;
  color: #2980B9;
}
.leftList {
  float: right;
  margin-right: 35px;
}
.loading {
  text-align: center;
  max-width: 40%;
  margin: 0 30%;
}

  /*  ------ 2. Nav Bar ----- */
.topbar {
  position: fixed;
  width: 100%;
  top: 0px;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #2C3E50;
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
  z-index: 100;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: inline;
}
.nav > li > a{
  text-decoration: none;
  position: relative;
  display: inline;
  padding: 10px 15px 15px 15px;
  color: rgba(236, 240, 241, 0.5);
  font-size: 14px;
  line-height: 20px;
  font-family: Lato, sans-serif;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: #ECF0F1;
  z-index: 0;
  text-shadow: 0px 10px 15px 0px rgba(250,250,250,0.75);
}

  /* ----- 3. Header ----- */
.header {
  text-align: center;
  background: url('../media/header3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header a {
  text-decoration: none;
}
.header img {
  height: 80px;
  margin-bottom: 20px;
  animation:          App-logo-spin infinite 10s linear; /* IE 10+, Fx 29+ */
  -webkit-animation:  App-logo-spin infinite 10s linear; /* Safari 4+ */
  -moz-animation:     App-logo-spin infinite 10s linear; /* Fx 5+ */
  -o-animation:       App-logo-spin infinite 10s linear; /* Opera 12+ */
}
.header h1 {
  font-size: 76px;
  padding: 80px 0px;
  color: #ECF0F1;
  z-index: 10;
}
.header span {
  font-weight: 100;
  text-transform: none;
}

  /* ----- 4. Home Page ----- */
.categoryGrid {
  width: 80%;
  margin: 20px 8%;
  padding: 0 2% 40px;
  display: inline-block;
  overflow: hidden;
}
.categoryGrid h1 {
  text-align: center;
  font-size: 128;
}

  /* ----- 5. Home Page Single Post ----- */
.singlePost {
  float: left;
  width: 21%;
  min-width: 200px;
  height: 380px;
  margin: 80px 2%;
  cursor: pointer;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}
.singlePost a{
  text-decoration: none;
}
.singlePost h2{
  display: inline-block;
  color: black;
  text-align: center;
  margin: 25px 0;
  height: 60px;
}
.singlePost img{
  border-radius: 28px;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-filter: grayscale(100%) blur(1px);
	filter: grayscale(100%) blur(1px);
}
.singlePost:hover img{
  z-index: 200;
  border: none;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);  /* Firefox 3.5 - 3.6 */  
  -webkit-filter: grayscale(0%) blur(0px);
  filter: grayscale(0%) blur(0px);
  transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
}
  /* ----- 6. Content Viewer ----- */
.container {
  position: relative;
  margin: 20px 8%;
  padding: 2%;
  text-align: left;
}
.container h1 {
  font-size: 80px;
  text-align: left;
}
.wikiViewer {
  margin: 10px;
}
.wikiViewer h1,h2,h3,h4,h5,h6{
  text-align: left;
  width: 100%;
}
.wikiViewer img {
  margin: 10px;
  border: 1 solid black;
  border-radius: 28px;
  pointer-events: none;
  cursor: default;
}
.wikiViewer ol{
  text-align: left;
  padding: none;
}
.wikiViewer il{
  float: left;
  padding: none;
}
.wikiViewer div {
  border: 0 !important;
}
.wikiViewer table{
  margin: 10px;
  border: 1px solid black;
  border-radius: 28px;
  text-align: left;
}
.wikiViewer table.infobox{
  width: 20em;
  position: static;
  float: right;
}
.wikiViewer table table {
  float: left;
}
.wikiViewer table img {
  float: none;
}
.wikiViewer th{
  border-radius: 28px;
  text-align: center;
}
.wikiViewer td {
  margin: 5px;
  padding: 5px 35px;
}
.wikiViewer a{
  content: title('');
}
div.navbox {
  display: none;
}
.thumbinner{
  text-align: center;
  position: static;
  display: inline-block;
}
table.wikitable {
  display: none;
}
.crossViewer {
  float: left;
  position: relative;
  width: 22em;
  margin: 10px;
  padding: 10px;
  border-right: 1px solid black;
}
.crossViewer li {
  margin: 4px 0px;
}
.noMatch{
  height: 450px;
}

  /* ----- 7. Footer ----- */
.footer {
  position: absolute;
  overflow: hidden;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  margin-top: 20px;
  border: 1px solid transparent;
  background-color: #2C3E50;
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
  z-index: 100;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.footer li {
  position: relative;
  display: inline;
  color: rgba(236, 240, 241, 0.5);
  font-size: 14px;
}
.footer li > a{
  text-decoration: none;
  position: relative;
  display: inline;
  padding: 10px 15px 15px 15px;
  color: rgba(236, 240, 241, 0.5);
  line-height: 20px;
  font-family: Lato, sans-serif;
}
.footer > li > a:hover,
.footer > li > a:focus {
  text-decoration: none;
  color: #ECF0F1;
  z-index: 0;
  text-shadow: 0px 10px 15px 0px rgba(250,250,250,0.75);
}
 /* ----- 8. SearchBar ----- */
 input[type="text"] {
  height: 20px;
  font-size: 15px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #ECF0F1;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}
input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}
input[type="text"]:focus {
  width: 500px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  background:  url('../media/search-icon-md.png') no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}
input[type="submit"]:hover {
  opacity: 0.8;
}

  /* ----- 9. KeyFrame ----- */
@-webkit-keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@-moz-keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@-o-keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

  /* ----- 10. Media Screen ----- */
@media only screen and ( max-device-width: 420px ){
  h1 {
    font-size: 32px;
  }
  .loading {
    text-align: center;
    max-width: 80%;
    height: 30%;
    margin: 20% 10%;
  }
  .singlePost{
    margin: 70px 0;
    width: 100%;
  }
  .singlePost img{
    border-radius: 28px;
    z-index: 1;
    width: 100%;
    height: 400px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-filter: none;
    filter: none;
  }
  .container {
    max-width: 90%;
    margin: 0px 4%;
    padding: 1%;
  }
  .container h1{
    font-size: 28px;
  }
  .container a{
    text-align: justify;
  }
  .singlePost h2 {
    max-width: none;
  }
  .wikiViewer div div {
    overflow: auto;
  }
  .wikiViewer table {
    margin: 1em 0;
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    width: 100% !important;
  }
  .wikiViewer table.infobox{
    font-size: 90%;
    position: relative;
    margin-bottom: 2em;
    text-align: left;
  }
  .wikiViewer img{
    float: none;
    max-width: 100% !important;
    height: auto !important;
    margin: 10px 0;
  }
  .crossViewer {
    border-right: none;
    padding: 0;
    margin: 0;
  }
  .header h1{
    font-size: 30px;
    padding: 40px 0px 40px 0px;
  }
  .header span{
    display: none;
  }
  .header img{
    height: 50px;
    margin-bottom: 0px;
  }
  .nav > .leftList {
    margin-right: 15px;
  }
  input[type="text"]:focus {
    width: 170px;
  }
  input[type="submit"]:focus {
    background: none;
  }
}
